@model MegCiptvAccounts.Models.listaResult

@{
    ViewBag.Title = "m3uLink Result";
    ViewBag.working = Model.ListaDados == null ? 0 : Model.ListaDados.Count(w => w.working);
    ViewBag.uniqueAccounts = Model.ListaDados == null ? 0 : Model.ListaDados.Count();
    ViewBag.m3uLink = true;
}

<div class="row">
    <div class="col-xs-12">
        @if (!string.IsNullOrEmpty(ViewBag.erro))
            {
            <div class="alert alert-danger alert-dismissable fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span class="glyphicon glyphicon-warning-sign"></span> @Html.Raw(ViewBag.erro)<br />
                @Html.ValidationSummary(false)
            </div>
        }

        <div class="alert alert-success alert-dismissable fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <div class="text-center"><strong><i class="fa fa-television fa-fw"></i> HOW TO USE <i class="fa fa-television fa-fw"></i></strong></div>
            Use <button class="btn btn-default btn-xs btn-primary"><i class="fa fa-clipboard"></i> Copy</button> to copy the Account data to clipboard and then you can PASTE it to a IPVT Client that supports getting channels from .m3u link.<br />
            Use <button class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> .m3u</button> to open/save the channel list from that Account to a file and open that file in a IPVT Client of your choice.<br />
            <hr />
            T<i class="fa fa-info-circle"></i>P: you can use <button class="btn btn-default btn-xs"><i class="fa fa-external-link"></i> .m3u</button> and when browser prompt to save/open, you choose VLC to open that type of files..
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-link fa-fw"></i> @Model.linhasProcessadas lines processed, @ViewBag.uniqueAccounts Unique Accounts found, <span class="text-success">possibly <strong>@ViewBag.working</strong> working!</span></h3>
            </div>
            <div class="panel-body">

                <table class="table table-hover" id="tlist">
                    <thead>
                        <tr>
                            <th>
                                Server:port
                            </th>
                            <th>
                                Login
                            </th>
                            <th>
                                Pass
                            </th>
                            <th>
                                Option
                            </th>
                            <th>
                                Working ?
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaDados)
                        {
                            <tr class="@((item.working) ? "":"danger")">
                                <td>
                                    @item.servidor
                                </td>
                                <td>
                                    @item.username
                                </td>
                                <td>
                                    @item.password
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button class="btn btn-primary btnCopy" type="button" data-toggle="tooltip" data-placement="bottom" title="Copy URL to clipboard" data-clipboard-text="@string.Concat("http://", item.servidor, "/get.php?username=", item.username, "&password=", item.password, "&type=m3u_plus&output=mpegts")"><i class="fa fa-clipboard fa-fw"></i> Copy</button>
                                        <a href="@string.Concat("http://", item.servidor, "/get.php?username=", item.username, "&password=", item.password, "&type=m3u_plus&output=mpegts")" target="_blank" class="btn btn-default btnFile" data-toggle="tooltip" data-placement="bottom" title="Open / Save .m3u file"><i class="fa fa-external-link fa-fw"></i> .m3u</a>
                                    </div>
                                </td>
                                <td>
                                    @if (item.working)
                                    {
                                        <text><span class="text-success">OK! <i class="fa fa-thumbs-up"></i></span></text>
                                    }
                                    else
                                    {
                                        <text><i class="fa fa-thumbs-o-down"></i></text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("Index","m3uLink")" class="btn btn-default btn-block"><i class="fa fa-reply fa-fw"></i> Go back</a>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/clipboard.min.js"></script>
}
